---
title: Home
description: |-
  Treasure the memories,
  Record the beauty and happiness in life.
image: /uploads/dsc-0747.JPG
bottom_image: /uploads/dji-0150.JPG
---
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Studio PZN</h1>
			<p class="subtext editable">
				將回憶珍藏，<br />用影像​紀錄生活中的美與快樂。<br /><br />​Treasure the memories,<br />Record the beauty and happiness in life.
			</p>
			<div class="cta button alt"><a href="{{ site.baseurl }}/collection/">PZN's Collection</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					About PZN
				</h2>
				<p class="editable">
					嗨！我是蘇品甄，<br />畢業於國立臺灣藝術大學廣播電視學系，<br />擅長用鏡頭記錄所有美麗的事物。<br /><strong></strong><br />Hi~ I am Pin-Chen, Su, welcome to my website.<br />Graduated from National Taiwan University of Arts, I am great at recording memories and beauties.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="About" src="../Studio-PZN/uploads/IMG_688801.jpg" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">空拍攝影 Aerial Photography</h2>
				<p class="editable">用不同的視角去看這個世界。<strong></strong><br />See the world in bird's eye view.<br />
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="About" src="../Studio-PZN/uploads/ariel-photography.jpg" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">影片拍攝 Photography</h2>
				<p class="editable"><strong></strong><br /><br />
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="About" src="../Studio-PZN/uploads/dsc-0697.JPG" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">
					Contact us now!
				</h2>
				<p class="subtext editable">It's fun and an exciting to meet new people.</p>
				<div class="cta button alt"><a href="{{ site.baseurl }}/contact/#contact-us">Contact us</a></div>
			</div>
		</div>
	</section>
</div>
